<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>Панель администрирования Foggie</title>
      {% endif %}

      <link rel="stylesheet" type="text/css" href="/static/styles/base.css">

    </head>

    {% block navigation %}
    {% endblock %}

    <body>
      <main class="container">
        {% block content %}
        {% endblock %}
      </main>
    </body>
</html>