{% extends 'auth.html' %}

{% block content %}

<h1>{{company.juridical_name}}</h1>
<h2 style="display: inline-block">Статус:</h2>

{% if company.is_approved %}
    <h2 style="display: inline-block; color: gray">Одобрено</h2>
{% else %}
    <h2 style="display: inline-block; color: orange">Не одобрено</h2>
{%endif%}

<input id="id" value="{{company.id}}" hidden="hidden"/>
<input id="owner" value="{{company.owner_id}}" hidden="hidden"/>

<h2>Общая информация</h2>

<div>
    <label>
        ЮРИДИЧЕСКОЕ ИМЯ
        <div>
            <input value="{{company.juridical_name}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        ФОРМА КОМПАНИИ
        <div>
            <input value="{{company.form}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        УЛИЦА, ДОМ, НОМЕР КВАРТИРЫ / ОФИСА
        <div>
            <input value="{{company.street_house_apartment}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        ГОРОД
        <div>
            <input value="{{company.city}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        РЕГИОН / ОБЛАСТЬ
        <div>
            <input value="{{company.region}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        СТРАНА
        <div>
            <input value="{{company.country}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        ПОЧТОВЫЙ ИНДЕКС
        <div>
            <input value="{{company.postal_code}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        ЭЛЕКТРОННЫЙ ПОЧТОВЫЙ АДРЕС ДЛЯ УВЕДОМЛЕНИЙ
        <div>
            <input value="{{company.notification_email}}" disabled>
        </div>
    </label>
</div>

<h2>ПЛАТЕЖНАЯ ИНФОРМАЦИЯ</h2>

<div>
    <label>
        БИК
        <div>
            <input value="{{company.bic}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        АДРЕС БАНКА
        <div>
            <input value="{{company.bank_address}}" disabled>
        </div>
    </label>
</div>

<div>
    <label>
        БАНКОВСКИЙ НОМЕР СЧЕТА
        <div>
            <input value="{{company.bank_account_number}}" disabled>
        </div>
    </label>
</div>

<h2>Управление</h2>

<label>
    Компания одобрена:
    <input type="checkbox" {% if company.is_approved %} checked {% endif %} onclick="approving(this.checked)">
</label>

<script>
    function approving(value) {
        const id = document.getElementById("id").value

        fetch(`http://localhost:8000/api/v1/companies/${id}/approve/`, {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                is_approved: value,
            }),
        }).then(async response => location.reload())
    }
</script>
{% endblock %}