{% extends 'base.html' %}
{% block content %}
<h1>{{game.title}}</h1>

<div>
  <h2 style="display: inline-block">Одобрено:</h2>

{% if game.is_approved %}
    <h2 style="display: inline-block; color: gray">Да</h2>
{% else %}
    <h2 style="display: inline-block; color: orange">Нет</h2>
{%endif%}
</div>

<div>
  <h2 style="display: inline-block">Опубликовано:</h2>

{% if game.is_published %}
    <h2 style="display: inline-block; color: green">Да</h2>
{% else %}
    <h2 style="display: inline-block; color: orange">Нет</h2>
{%endif%}
</div>


<input id="id" value="{{game.id}}" hidden="hidden"/>
<input id="author" value="{{game.author}}" hidden="hidden"/>

<h2>Общая информация</h2>

<div>
  <label>
    Название
    <div>
      <input value="{{game.title}}" disabled>
    </div>
  </label>
</div>

<div>
  <label>
    ДАТА ВЫХОДА
    {% if game.release_date %}
    <div>
      <input value="{{game.release_date}}" disabled>
    </div>
    {% else %}
    <div>СКОРО</div>
    {% endif %}
  </label>
</div>

<div>
  <label>
    ЦЕНА
    <div>
      <input value="{{game.price}}" disabled>
    </div>
  </label>
</div>

<h2>Описания</h2>

<div>
  <label>
    КРАТКОЕ ОПИСАНИЕ
    <div>
      <textarea placeholder="{{game.short_description}}" disabled></textarea>
    </div>
  </label>
</div>

<div>
  <label>
    РАЗВЕРНУТОЕ ОПИСАНИЕ
    <div>
      <textarea placeholder="{{game.long_description}}" disabled></textarea>
    </div>
  </label>
</div>

<h2>МАТЕРИАЛЫ</h2>

<h3>ПОСТЕР ДЛЯ МАГАЗИНА</h3>
<img id="header" src="" alt="No header image">

<h3>ПОСТЕР ДЛЯ БИБЛИОТЕКИ</h3>
<img id="capsule" src="" alt="No capsule image">

<h3>СКРИНШОТЫ</h3>
<div id="screenshots"></div>

<h3>ТРЕЙЛЕРЫ</h3>
<div id="trailers"></div>

<h2>Сборки</h2>
{% for build in builds %}
  <div style="display: inline-block">
      <label>
        ПЛАТФОРМА
        <div>
          <h4 style="display: inline-block">{{ build.platform.title }}</h4>
        </div>
      </label>

      <label>
        ИСПОЛНЯЕМЫЙ ФАЙЛ
        <div>
          <input value="{{build.call}}" disabled>
        </div>
      </label>
  </div>
  {% endfor %}

<h2>Управление</h2>

<div>
  <label>
    Продукт одобрен:
    <input type="checkbox" {% if game.is_approved %} checked {% endif %} onclick="approving(this.checked)">
</label>
</div>

<div>
  <label>
    Продукт опубликован:
    <input type="checkbox" {% if game.is_published %} checked {% endif %} onclick="publishing(this.checked)">
</label>
</div>

<script>
    const id = document.getElementById("id").value
    let imageUrl = `http://localhost:8000/api/v1/games/${id}/header/`

    fetch(imageUrl, {credentials: 'include'})
      .then(response => response.blob())
      .then(blob => {
        const objectUrl = URL.createObjectURL(blob);
        let header = document.getElementById('header');
        header.src = objectUrl
        header.width = 400;
        header.style.margin = "8px";
        header.height = header.width * 9 / 16;
      })
      .catch(error => console.error(error));

    imageUrl = `http://localhost:8000/api/v1/games/${id}/capsule/`

    fetch(imageUrl, {credentials: 'include'})
      .then(response => response.blob())
      .then(blob => {
        const objectUrl = URL.createObjectURL(blob);
        let capsule = document.getElementById('capsule');
        capsule.src = objectUrl
        capsule.style.margin = "8px";
        capsule.width = 400;
        capsule.height = capsule.width * 16 / 10;
      })
      .catch(error => console.error(error));

    const screenshotsUrl = `http://localhost:8000/api/v1/games/${id}/screenshots/`

    fetch(screenshotsUrl, {credentials: 'include'})
      .then(response => response.json())
      .then(data => {
        const screenshotsDiv = document.getElementById("screenshots")
        data.filenames.forEach(screenshot => {
          const img = document.createElement("img")
          img.src = `http://localhost:8000/api/v1/games/${id}/screenshots/?filename=${screenshot}`
          img.style.margin = "8px";
          img.height = 400 * 9 / 16;
          screenshotsDiv.appendChild(img)
        })
      })

    const trailersUrl = `http://localhost:8000/api/v1/games/${id}/trailers/`

    fetch(trailersUrl, {credentials: 'include'})
      .then(response => response.json())
      .then(data => {
        const trailersDiv = document.getElementById("trailers")
        data.filenames.forEach(screenshot => {
          const video  = document.createElement("video")
          video.src = `http://localhost:8000/api/v1/games/${id}/trailers/?filename=${screenshot}`
          video.style.margin = "8px";
          video.height = 400 * 9 / 16;
          video.controls = true;
          trailersDiv.appendChild(video)
        })
      })

    function approving(value) {
        fetch(`http://localhost:8000/api/v1/games/${id}/approve/`, {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                is_approved: value,
            }),
        }).then(async response => location.reload())
    }

    function publishing(value) {
        fetch(`http://localhost:8000/api/v1/games/${id}/publish/`, {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                is_published: value,
            }),
        }).then(async response => location.reload())
    }
</script>
{% endblock %}