{% extends 'auth.html' %}

{% block content %}

<h1>Продукты</h1>

<div>
  {% for game in games %}
  <div>
    <h2 style="display: inline-block; margin-right: 8px;">
      <a href="/admin/games/{{game.id}}/">{{ game.title }}</a>
    </h2>

    {% if game.is_approved %}
      <h3 style="color: gray; display: inline-block;">Одобрено</h3>
    {% else %}
      <h3 style="color: orange; display: inline-block;">Не одобрено</h3>
    {%endif%}

    {% if game.is_published %}
      <h3 style="color: green; display: inline-block;">Опубликовано</h3>
    {% else %}
      <h3 style="color: orange; display: inline-block;">Не опубликовано</h3>
    {%endif%}
  </div>
  {% endfor %}
</div>
{% endblock %}