{% extends 'auth.html' %}

{% block content %}
  <div style="display: flex; align-items: center; justify-content: space-around; margin-top: 20vh;">
    <div style="max-width: 50%;">
      <h1 style="font-size: 46px;">Панель Foggie</h1>
      <p style="text-align: justify;">
        Мы разработали платформу для покупки компьютерных игр,
        которая обеспечивает первоклассный игровой опыт.
        Мы высоко ценим наших модераторов и будем благодарны,
        если вы поможете нам проверить контент,
        чтобы наши пользователи получали только лучшие игровые впечатления.
        Благодарим вас за вашу ценную помощь!
      </p>
    </div>
    <img src="../static/images/icon.png" style="max-width: 50%;" alt="Какое-нибудь красивое изображение">
  </div>
{% endblock %}