{% extends 'base.html' %}
{% block content %}
  <h1>Open Foggie</h1>

  <p>
    We have created a PC game trading platform
    that offers a flawless gaming experience.
    We really appreciate our moderation team
    and would like to ask you to help us validate
    the content so that our users get only the
    best gaming experience.
    Thank you for your valuable work!
  </p>

  <nav>
    <a class="nav-link" href="/admin/companies/">Companies</a>
    <a class="nav-link" href="/admin/games/">Games</a>
  </nav>
{% endblock %}