{% extends 'base.html' %}
{% block content %}
    <h1>Вход в панель администрирования</h1>
    <form id="login-form">
        <label>
            ВОЙТИ, ИСПОЛЬЗУЯ ИМЯ АККАУНТА:
            <div>
                <input id="account_name" type="text" required>
            </div>
        </label>

        <div>
        <br>
        <label>
            ПАРОЛЬ:
            <div>
                <input id="password" type="password" required>
            </div>
        </label>
        <br>
            <button style="padding: 12px 24px; border-radius: 8px; background-color: #0079F2; color: white;" type="submit">Войти</button>
        </div>
    </form>

    <script>
        const form = document.getElementById("login-form")

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const accountName = document.getElementById("account_name").value
            const password = document.getElementById("password").value

            fetch('http://localhost:8000/api/v1/auth/sign-in/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    account_name: accountName,
                    password: password,
                }),
            }).then(async response => {
                if (response.ok)
                    document.location.href='/admin/'
            })
        })
    </script>
{% endblock %}