body {
  font-family: Arial, sans-serif;
  background-color: #0E151E;
}

h1, h2, h3, p, label {
  color: #ddd
}

p {font-size: 24px}
label {font-size: 20px}
input {font-size: 24px}
textarea {font-size: 24px}

a {
  font-size: 32px;
  color: #446691;
  font-weight: bold;
  text-decoration: none;
  margin-right: 32px;
}

a:hover {
  color: #0079F2;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
